<div class="sevenpage">
  <div class="sevenpage_container">
    <div class="sevenpage_container_title">
      <h2 class="sevenpage_container_title_text">My Projects in Flutter</h2>
    </div>
    <div class="sevenpage_container_base">

      <div class="sevenpage_container_base_leftside">
        <div class="sevenpage_container_base_rightside_about">
          <img class="sevenpage_container_base_rightside_about_image" [src]=""/>
          <p class="sevenpage_container_base_rightside_about_text">Angular & Typescript App</p>
        </div>
        <div class="sevenpage_container_base_rightside_name">
          <p class="sevenpage_container_base_rightside_name_text">LookAt ThatDog.</p>
        </div>
        <div class="sevenpage_container_base_rightside_list">
          <div class="sevenpage_container_base_rightside_list_opinion">
            <img class="sevenpage_container_base_rightside_list_opinion_image" [src]=""/>
            <p class="sevenpage_container_base_rightside_list_opinion_text">A cutting-edge medical app for patients and doctors to make and take appointments online, chat via webcam with the doctor for as long as you have an appointment and receive your prescription before your pdf.</p>
          </div>
        </div>

      </div>
      <div class="sevenpage_container_base_rightside">
        <div class="sevenpage_container_base_rightside_image">
          <img [src]="lookdog"/>

        </div>
      </div>
    </div>
  </div>
</div>
