<div class="sixpage">
    <div class="sixpage_container">
  
      <div class="sixpage_container_base">
  
  
        <div class="sixpage_container_base_sides">
          <div class="sixpage_container_base_sides_leftside">
            <div class="sixpage_container_base_sides_leftside_image">
              <img class="sixpage_container_base_sides_leftside_image_picture" [src]="meblit"/>
              <img class="sixpage_container_base_sides_leftside_image_background"[src]="background"/>
            </div>
          </div>
          <div class="sixpage_container_base_sides_rightside">
            <div class="sixpage_container_base_sides_rightside_about">
              <img class="sixpage_container_base_sides_rightside_about_image" [src]=""/>
              <p class="sixpage_container_base_sides_rightside_about_text">Flutter App</p>
            </div>
            <div class="sixpage_container_base_sides_rightside_name">
              <p class="sixpage_container_base_sides_rightside_name_text">Whats<span class="sixpage_container_base_sides_rightside_name_gradient">App Clone</span></p>
            </div>
            <div class="sixpage_container_base_sides_rightside_list">
              <div class="sixpage_container_base_sides_rightside_list_opinion">
                <img class="sixpage_container_base_sides_rightside_list_opinion_image" [src]=""/>
                <p class="sixpage_container_base_sides_rightside_list_opinion_text">An app that is supposed to work and look like whatsapp, have login screens with phone number</p>
              </div>
            </div>
            <div class="sixpage_container_base_sides_rightside_buttons">
              <!-- <a href="https://play.google.com/store/games?hl=pl&gl=US&pli=1" class="sixpage_container_base_sides_rightside_buttons_google"><img class="sixpage_container_base_sides_rightside_buttons_google_image" [src]="googleplay"/></a>
              <a href="https://www.apple.com/pl/app-store/" class="sixpage_container_base_sides_rightside_buttons_apple"><img class="sixpage_container_base_sides_rightside_buttons_google_image" [src]="appstore"/></a> -->
              <a class="sixpage_container_base_sides_rightside_buttons_link" href="https://github.com/Maciejj1/WhatsApp-Flutter">
                <img [src]="github"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  