<div class="fourthpage">
    <div class="fourthpage_container">
        <div class="fourthpage_container_base">
            <div class="fourthpage_container_base_sides">
                <div class="fourthpage_container_base_sides__container">
                    <div
                        class="fourthpage_container_base_sides__container__box"
                    >
                        <span></span>
                        <div
                            class="fourthpage_container_base_sides__container__box__content"
                        >
                            <div
                                class="fourthpage_container_base_sides__container__box__content__left"
                            >
                                <div
                                    class="fourthpage_container_base_sides__container__box__content__left__title"
                                >
                                    <!-- <img
                class="fourthpage_container_base_sides__container__box__content__left__title__image"
                [src]="mslogo"
              /> -->
                                    <h2
                                        class="fourthpage_container_base_sides__container__box__content__left__title__text"
                                        style="margin: 0 !important"
                                    >
                                        MyMusic
                                    </h2>
                                </div>
                                <p
                                    class="fourthpage_container_base_sides__container__box__content__text"
                                >
                                    A simple application used to listen to music
                                </p>
                                <div
                                    class="fourthpage_container_base_sides_right_technologies"
                                >
                                    <div
                                        class="fourthpage_container_base_sides_right_technologies_container"
                                    >
                                        <div
                                            class="fourthpage_container_base_sides_right_technologies_container_title"
                                        >
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_title_title"
                                            >
                                                Main Language:
                                            </p>
                                        </div>
                                        <div
                                            class="fourthpage_container_base_sides_right_technologies_container_items"
                                        >
                                            <img
                                                class="fourthpage_container_base_sides_right_technologies_container_items_image"
                                                [src]="flutter"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="fourthpage_container_base_sides_right_technologies"
                                >
                                    <div
                                        class="fourthpage_container_base_sides_right_technologies_container"
                                    >
                                        <div
                                            class="fourthpage_container_base_sides_right_technologies_container_items"
                                        >
                                            <div
                                                class="fourthpage_container_base_sides_right_technologies_container_title"
                                            >
                                                <p
                                                    class="fourthpage_container_base_sides_right_technologies_container_title_title"
                                                >
                                                    Constructed With:
                                                </p>
                                            </div>

                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Capacitor,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Angular,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Typescript,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Scss,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Firebase,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                SOLID
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="fourthpage_container_base_sides_right_buttons"
                                >
                                    <a
                                        class="fourthpage_container_base_sides_right_buttons_apple"
                                        href="https://github.com/Maciejj1/MyMusic-Ionic"
                                    >
                                        <img [src]="github" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fourthpage_container_base_sides_right">
                    <div class="fourthpage_container_base_sides_right_image">
                        <img
                            class="fourthpage_container_base_sides_right_image_picture"
                            [src]="meblit"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
