@media only screen and (min-width: 1024px) {
    .projects__section {
        &__container {
            min-height: 75vh;
            display: flex;
            align-items: center;
            background: #ffffff;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            &__namepage {
                background: rgba(48, 64, 213, 0.1);
                width: 110px;
                height: 35px;
                border-radius: 15px;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                &__title {
                    z-index: 2;
                    color: #2965f1;
                    margin: 0;
                }
            }
            &__base {
                padding-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                &__container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 40px 0;
                    &__box {
                        position: relative;
                        width: 50%;
                        height: 50vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 40px 30px;
                        transition: 0.5s;
                        &::before {
                            content: ' ';
                            position: absolute;
                            top: 0;
                            width: 50%;
                            height: 100%;
                            text-decoration: none;
                            background: #fff;
                            border-radius: 8px;
                            transform: skewX(15deg);
                            transition: 0.5s;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 50%;
                            height: 100%;
                            background: #fff;
                            border-radius: 8px;
                            transform: skewX(15deg);
                            transition: 0.5s;
                            filter: blur(30px);
                        }

                        &:hover::before,
                        &:hover::after {
                            transform: skewX(0deg);
                            width: calc(100% - 90px);
                        }

                        &:nth-child(1)::before,
                        &:nth-child(1)::after {
                            background: linear-gradient(
                                315deg,
                                #13ee7d,
                                #009dff
                            );
                        }

                        &:nth-child(2)::before,
                        &:nth-child(2)::after {
                            background: linear-gradient(
                                315deg,
                                #03a9f4,
                                #ff0058
                            );
                        }

                        &:nth-child(3)::before,
                        &:nth-child(3)::after {
                            background: linear-gradient(
                                315deg,
                                #4dff03,
                                #00d0ff
                            );
                        }
                        &:hover {
                            &__content {
                                left: -25px;
                                padding: 60px 40px;
                            }
                        }
                        span {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 5;
                            pointer-events: none;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 0;
                                border-radius: 8px;
                                background: rgba(255, 255, 255, 0.1);
                                backdrop-filter: blur(10px);
                                opacity: 0;
                                transition: 0.1s;
                                animation: animate 2s ease-in-out infinite;
                                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
                            }

                            &:hover::before {
                                top: -50px;
                                width: 100%;
                                height: auto;
                                opacity: 1;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 8px;
                                background: rgba(255, 255, 255, 0.1);
                                backdrop-filter: blur(10px);
                                opacity: 0;
                                transition: 0.5s;
                                animation: animate 2s ease-in-out infinite;
                                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
                                animation-delay: -1s;
                            }

                            &:hover::after {
                                bottom: -50px;
                                width: 100px;
                                height: 100px;
                                opacity: 1;
                            }
                        }
                        &__link {
                            &__content {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                z-index: 2;
                                min-width: 500px;
                                max-width: 700px;
                                padding-left: 20px;
                                padding-right: 20px;
                                width: 40vw;
                                height: 40vh;
                                position: relative;
                                left: 0;
                                padding: 20px 40px;
                                background: rgba(255, 255, 255, 0.05);
                                backdrop-filter: blur(10px);
                                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                                border-radius: 8px;
                                z-index: 1;
                                transform: 0.5s;
                                color: #fff;
                                &__image {
                                    width: 80px;
                                }
                                h2 {
                                    font-size: 2em;
                                    color: #fff;
                                    margin-bottom: 10px;
                                }
                                p {
                                    padding-top: 15px;
                                    font-size: 1.1em;
                                    margin-bottom: 10px;
                                    line-height: 1.4em;
                                }
                                &__button1 {
                                    width: 150px;
                                    height: 45px;
                                    background:
                                        linear-gradient(
                                                transparent,
                                                transparent
                                            )
                                            padding-box,
                                        linear-gradient(
                                                315deg,
                                                #03a9f4,
                                                #ff0058
                                            )
                                            border-box;
                                    border-radius: 50em;
                                    outline: none;
                                    border: 4px solid transparent;
                                }
                                &__button2 {
                                    width: 150px;
                                    height: 45px;
                                    background:
                                        linear-gradient(
                                                transparent,
                                                transparent
                                            )
                                            padding-box,
                                        linear-gradient(
                                                315deg,
                                                #13ee7d,
                                                #009dff
                                            )
                                            border-box;
                                    border-radius: 50em;
                                    outline: none;
                                    border: 4px solid transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1023px) {
    .projects__section {
        &__container {
            padding-top: 5%;
            display: flex;
            align-items: center;
            background: #ffffff;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            height: auto;
            &__namepage {
                background: rgba(48, 64, 213, 0.1);
                width: 120px;
                height: 35px;
                border-radius: 15px;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                &__title {
                    z-index: 2;
                    color: #2965f1;
                    margin: 0;
                }
            }
            &__base {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                &__container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    &__box {
                        position: relative;
                        width: 100%;
                        height: 40vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 40px 30px;
                        transition: 0.5s;
                        &::before {
                            content: ' ';
                            position: absolute;
                            top: 0;
                            width: 50%;
                            height: 100%;
                            text-decoration: none;
                            background: #fff;
                            border-radius: 8px;
                            transform: skewX(15deg);
                            transition: 0.5s;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 50%;
                            height: 100%;
                            background: #fff;
                            border-radius: 8px;
                            transform: skewX(15deg);
                            transition: 0.5s;
                            filter: blur(30px);
                        }

                        &:hover::before,
                        &:hover::after {
                            transform: skewX(0deg);
                            width: calc(100% - 90px);
                        }

                        &:nth-child(1)::before,
                        &:nth-child(1)::after {
                            background: linear-gradient(
                                315deg,
                                #13ee7d,
                                #009dff
                            );
                        }

                        &:nth-child(2)::before,
                        &:nth-child(2)::after {
                            background: linear-gradient(
                                315deg,
                                #03a9f4,
                                #ff0058
                            );
                        }

                        &:nth-child(3)::before,
                        &:nth-child(3)::after {
                            background: linear-gradient(
                                315deg,
                                #4dff03,
                                #00d0ff
                            );
                        }
                        &:hover {
                            &__content {
                                left: -25px;
                                padding: 60px 40px;
                            }
                        }
                        span {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 5;
                            pointer-events: none;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 0;
                                border-radius: 8px;
                                background: rgba(255, 255, 255, 0.1);
                                backdrop-filter: blur(10px);
                                opacity: 0;
                                transition: 0.1s;
                                animation: animate 2s ease-in-out infinite;
                                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
                            }

                            &:hover::before {
                                top: -50px;
                                width: 100%;
                                height: auto;
                                opacity: 1;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 8px;
                                background: rgba(255, 255, 255, 0.1);
                                backdrop-filter: blur(10px);
                                opacity: 0;
                                transition: 0.5s;
                                animation: animate 2s ease-in-out infinite;
                                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
                                animation-delay: -1s;
                            }

                            &:hover::after {
                                bottom: -50px;
                                width: 100px;
                                height: 100px;
                                opacity: 1;
                            }
                        }
                        &__link {
                            &__content {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                z-index: 2;
                                min-width: 300px;
                                max-width: 100%;
                                min-height: 200px;
                                max-height: 300px;
                                width: 40vw;
                                height: 30vh;
                                position: relative;
                                left: 0;
                                padding: 20px 40px;
                                background: rgba(255, 255, 255, 0.05);
                                backdrop-filter: blur(10px);
                                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                                border-radius: 8px;
                                z-index: 1;
                                transform: 0.5s;
                                color: #fff;
                                &__image {
                                    width: 80px;
                                }
                                h2 {
                                    font-size: 2em;
                                    color: #fff;
                                    margin-bottom: 10px;
                                }
                                p {
                                    padding-top: 15px;
                                    font-size: 1em;
                                    margin-bottom: 10px;
                                    line-height: 1.4em;
                                }
                                &__button1 {
                                    width: 150px;
                                    height: 45px;
                                    background:
                                        linear-gradient(
                                                transparent,
                                                transparent
                                            )
                                            padding-box,
                                        linear-gradient(
                                                315deg,
                                                #03a9f4,
                                                #ff0058
                                            )
                                            border-box;
                                    border-radius: 50em;
                                    font-size: 0.8em;
                                    outline: none;
                                    border: 4px solid transparent;
                                }
                                &__button2 {
                                    width: 150px;
                                    height: 45px;
                                    font-size: 0.8em;

                                    background:
                                        linear-gradient(
                                                transparent,
                                                transparent
                                            )
                                            padding-box,
                                        linear-gradient(
                                                315deg,
                                                #13ee7d,
                                                #009dff
                                            )
                                            border-box;
                                    border-radius: 50em;
                                    outline: none;
                                    border: 4px solid transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translate(-10px);
    }
}
