<div class="projects__section">
    <div class="projects__section__container">
        <div class="projects__section__container__namepage">
            <p class="projects__section__container__namepage__title">
                🧑‍💻 Projects
            </p>
        </div>
        <div class="projects__section__container__base">
            <div class="projects__section__container__base__container">
                <div class="projects__section__container__base__container__box">
                    <span></span>
                    <a
                        class="projects__section__container__base__container__box__link"
                        routerLink="/mobileaplications"
                    >
                        <div
                            class="projects__section__container__base__container__box__link__content"
                        >
                            <img
                                class="projects__section__container__base__container__box__link__content__image"
                                [src]="phone"
                            />
                            <p>Mobile Aplications</p>
                            <button
                                class="projects__section__container__base__container__box__link__content__button2"
                            >
                                Click to check
                            </button>
                        </div>
                    </a>
                </div>
                <div class="projects__section__container__base__container__box">
                    <span></span>
                    <a
                        class="projects__section__container__base__container__box__link"
                        routerLink="/webaplications"
                    >
                        <div
                            class="projects__section__container__base__container__box__link__content"
                        >
                            <img
                                class="projects__section__container__base__container__box__link__content__image"
                                [src]="display"
                            />
                            <p>Web Aplications</p>
                            <button
                                class="projects__section__container__base__container__box__link__content__button1"
                            >
                                Click to check
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
