<div class="tenpage">
  <div class="tenpage_container">
    <div class="tenpage_container_base">
      <div class="tenpage_container_base_namepage">
        <p class="tenpage_container_base_namepage_title">💼 Career</p>
      </div>
      <div class="tenpage_container_base_title">
        <h1 class="tenpage_container_base_title_text">Technologies and skills</h1>
      </div>
      <div class="tenpage_container_base_sides">
        <div class="tenpage_container_base_sides_left">
          <div class="tenpage_container_base_sides_left_title">
            <h1 class="tenpage_container_base_sides_left_title_text">Professional area</h1>
          </div>
          <div class="tenpage_container_base_sides_left_until">
            <p class="tenpage_container_base_sides_left_until_text">2022 * until now</p>
          </div>
          <div class="tenpage_container_base_sides_left_career">
            <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">Mid Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I am currently taking care of the team from the company application , I take care of the correct code and cleanliness , I help with any problem in the code and meet the deadline.</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">2 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">Mid Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I am currently taking care of the team from the company application , I take care of the correct code and cleanliness , I help with any problem in the code and meet the deadline.</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">2 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">Mid Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I am currently taking care of the team from the company application , I take care of the correct code and cleanliness , I help with any problem in the code and meet the deadline.</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">2 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>

          </div>
        </div>

        <div class="tenpage_container_base_sides_right">
          <div class="tenpage_container_base_sides_right_title">
            <h1 class="tenpage_container_base_sides_right_title_text">Professional area</h1>
          </div>
          <div class="tenpage_container_base_sides_right_until">
            <p class="tenpage_container_base_sides_right_until_text">2022 * until now</p>
          </div>
          <div class="tenpage_container_base_sides_right_career">
            <div class="tenpage_container_base_sides_right_career_container">
              <div class="tenpage_container_base_sides_right_career_container_title">
                <h1 class="tenpage_container_base_sides_right_career_container_title_text">Mid Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_description">
                <p class="tenpage_container_base_sides_right_career_container_description_text">I am currently taking care of the team from the company application , I take care of the correct code and cleanliness , I help with any problem in the code and meet the deadline.</p>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_time">
                <div class="tenpage_container_base_sides_right_career_container_time_months"><p class="tenpage_container_base_sides_right_career_container_time_months_text">2 months</p></div>
                <div class="tenpage_container_base_sides_right_career_container_time_date"><p class="tenpage_container_base_sides_right_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_right_career_container">
              <div class="tenpage_container_base_sides_right_career_container_title">
                <h1 class="tenpage_container_base_sides_right_career_container_title_text">Mid Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_description">
                <p class="tenpage_container_base_sides_right_career_container_description_text">I am currently taking care of the team from the company application , I take care of the correct code and cleanliness , I help with any problem in the code and meet the deadline.</p>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_time">
                <div class="tenpage_container_base_sides_right_career_container_time_months"><p class="tenpage_container_base_sides_right_career_container_time_months_text">2 months</p></div>
                <div class="tenpage_container_base_sides_right_career_container_time_date"><p class="tenpage_container_base_sides_right_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_right_career_container">
              <div class="tenpage_container_base_sides_right_career_container_title">
                <h1 class="tenpage_container_base_sides_right_career_container_title_text">Mid Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_description">
                <p class="tenpage_container_base_sides_right_career_container_description_text">I am currently taking care of the team from the company application , I take care of the correct code and cleanliness , I help with any problem in the code and meet the deadline.</p>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_time">
                <div class="tenpage_container_base_sides_right_career_container_time_months"><p class="tenpage_container_base_sides_right_career_container_time_months_text">2 months</p></div>
                <div class="tenpage_container_base_sides_right_career_container_time_date"><p class="tenpage_container_base_sides_right_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
