<div class="tenpage">
  <div class="tenpage_container">
    <div class="tenpage_container_base">
      <div class="tenpage_container_base_namepage">
        <p class="tenpage_container_base_namepage_title">💼 Career</p>
      </div>
      <div class="tenpage_container_base_sides">
        <div class="tenpage_container_base_sides_left">
          <div class="tenpage_container_base_sides_left_title">
            <h1 class="tenpage_container_base_sides_left_title_text">Professional area</h1>
          </div>
          <div class="tenpage_container_base_sides_left_until">
            <p class="tenpage_container_base_sides_left_until_text">2022 * until now</p>
          </div>
          <div class="tenpage_container_base_sides_left_career">

            <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">Mobile App Developer(Flutter, Ionic)</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I work at Optima Solutions as a Mobile App Developer . I test and write software for existing applications. Also performs backend for these applications and website fixes..</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">8 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">July/2023 · until now</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I worked at Vocale. I develop software for the company's applications.</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">3 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">August/2023 · October/2023</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I worked at Paidwork as a Flutter Developer, I was a team-leader of a team of 6 people , working on an app to make money by watching ads, filling out surveys or playing games.</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">9 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">November/2022 · July/2023</p></div>
              </div>
            </div>
            <!-- <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">Junior Flutter Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I worked in Paidwork Company as a Junior Flutter Developer.I took care of correct code (Clean code) , well working functions , speed of the application.</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">2 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">November/2022 · December/2022</p></div>
              </div>
            </div> -->
            <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">
                  Junior Frontend Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I performed websites for clients and companies in Angular, I dealt with code creation, optimization, testing and connecting to domains</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">5 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">July/2022 · November/2022</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_left_career_container">
              <div class="tenpage_container_base_sides_left_career_container_title">
                <h1 class="tenpage_container_base_sides_left_career_container_title_text">Junior Javascript Developer</h1>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_description">
                <p class="tenpage_container_base_sides_left_career_container_description_text">I worked at 9bits as a Junior Javascript Developer using React , I was in charge of taking care of the functionality of the website , adding new features and fixing bugs</p>
              </div>
              <div class="tenpage_container_base_sides_left_career_container_time">
                <div class="tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">5 months</p></div>
                <div class="tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">March/2022 · July/2022</p></div>
              </div>
            </div>

          </div>
        </div>

        <div class="tenpage_container_base_sides_right">
          <div class="tenpage_container_base_sides_right_title">
            <h1 class="tenpage_container_base_sides_right_title_text">Education</h1>
          </div>
          <div class="tenpage_container_base_sides_right_until">
            <p class="tenpage_container_base_sides_right_until_text">2017 · until now</p>
          </div>
          <div class="tenpage_container_base_sides_right_career">
            <div class="tenpage_container_base_sides_right_career_container">
              <div class="tenpage_container_base_sides_right_career_container_title">
                <h1 class="tenpage_container_base_sides_right_career_container_title_text">Catholic University of Lublin</h1>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_description">
                <p class="tenpage_container_base_sides_right_career_container_description_text">I am already in my 3nd year of studying computer science in Lublin</p>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_time">
                <div class="tenpage_container_base_sides_right_career_container_time_months"><p class="tenpage_container_base_sides_right_career_container_time_months_text">2 year 4 months</p></div>
                <div class="tenpage_container_base_sides_right_career_container_time_date"><p class="tenpage_container_base_sides_right_career_container_time_date_text">October/2021 · until now</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_right_career_container">
              <div class="tenpage_container_base_sides_right_career_container_title">
                <h1 class="tenpage_container_base_sides_right_career_container_title_text">Frontend and Mobile courses</h1>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_description">
                <p class="tenpage_container_base_sides_right_career_container_description_text">I've done loads of courses in frontend and mobile application programming , graduated all with a certificate</p>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_time">
                <div class="tenpage_container_base_sides_right_career_container_time_months"><p class="tenpage_container_base_sides_right_career_container_time_months_text">5 months</p></div>
                <div class="tenpage_container_base_sides_right_career_container_time_date"><p class="tenpage_container_base_sides_right_career_container_time_date_text">September/2021 · February/2022</p></div>
              </div>
            </div>
            <div class="tenpage_container_base_sides_right_career_container">
              <div class="tenpage_container_base_sides_right_career_container_title">
                <h1 class="tenpage_container_base_sides_right_career_container_title_text">IT Technical School</h1>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_description">
                <p class="tenpage_container_base_sides_right_career_container_description_text">I graduated from an IT Technical School with a Technical Diploma</p>
              </div>
              <div class="tenpage_container_base_sides_right_career_container_time">
                <div class="tenpage_container_base_sides_right_career_container_time_months"><p class="tenpage_container_base_sides_right_career_container_time_months_text">3 years 8 months</p></div>
                <div class="tenpage_container_base_sides_right_career_container_time_date"><p class="tenpage_container_base_sides_right_career_container_time_date_text">September/2017 · May/2021</p></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m_tenpage">
  <div class="m_tenpage_container">
    <div class="m_tenpage_container_base">
      <div class="m_tenpage_container_base_namepage">
        <p class="m_tenpage_container_base_namepage_title">💼 Career</p>
      </div>
      <div class="m_tenpage_container_base_sides">
        <div class="m_tenpage_container_base_sides_left">
          <div class="m_tenpage_container_base_sides_left_title">
            <h1 class="m_tenpage_container_base_sides_left_title_text">Professional area</h1>
          </div>
          <div class="m_tenpage_container_base_sides_left_until">
            <p class="m_tenpage_container_base_sides_left_until_text">2022 * until now</p>
          </div>
          <div class="m_tenpage_container_base_sides_left_career">
            <div class="m_tenpage_container_base_sides_left_career_container">
              <div class="m_tenpage_container_base_sides_left_career_container_title">
                <h1 class="m_tenpage_container_base_sides_left_career_container_title_text">Flutter Developer</h1>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_description">
                <p class="m_tenpage_container_base_sides_left_career_container_description_text">I work at Vocale. I develop software for the company's applications.</p>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_time">
                <div class="m_tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">2 months</p></div>
                <div class="m_tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">August/2023 · until now</p></div>
              </div>
            </div>
            <div class="m_tenpage_container_base_sides_left_career_container">
              <div class="m_tenpage_container_base_sides_left_career_container_title">
                <h1 class="m_tenpage_container_base_sides_left_career_container_title_text">Mobile App Developer</h1>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_description">
                <p class="m_tenpage_container_base_sides_left_career_container_description_text">I work at Optima Solutions as a Mobile App Developer . I test and write software for existing applications. Also performs backend for these applications and website fixes.</p>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_time">
                <div class="m_tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">3 months</p></div>
                <div class="m_tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">July/2023 · until now</p></div>
              </div>
            </div>
            <div class="m_tenpage_container_base_sides_left_career_container">
              <div class="m_tenpage_container_base_sides_left_career_container_title">
                <h1 class="m_tenpage_container_base_sides_left_career_container_title_text">Flutter Developer</h1>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_description">
                <p class="m_tenpage_container_base_sides_left_career_container_description_text">I work at Paidwork as a Flutter Developer, I was a team-leader of a team of 6 people , working on an app to make money by watching ads, filling out surveys or playing games.</p>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_time">
                <div class="m_tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">9 months</p></div>
                <div class="m_tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">December/2022 · July/2023</p></div>
              </div>
            </div>
            <div class="m_tenpage_container_base_sides_left_career_container">
              <div class="m_tenpage_container_base_sides_left_career_container_title">
                <h1 class="m_tenpage_container_base_sides_left_career_container_title_text">
                  Junior Frontend Developer</h1>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_description">
                <p class="m_tenpage_container_base_sides_left_career_container_description_text">I made websites for clients and companies in Angular, I dealt with code creation, optimization, testing and connecting to domains</p>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_time">
                <div class="m_tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">5 months</p></div>
                <div class="m_tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">July/2022 · November/2022</p></div>
              </div>
            </div>
            <div class="m_tenpage_container_base_sides_left_career_container">
              <div class="m_tenpage_container_base_sides_left_career_container_title">
                <h1 class="m_tenpage_container_base_sides_left_career_container_title_text">Junior Javascript Developer</h1>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_description">
                <p class="m_tenpage_container_base_sides_left_career_container_description_text">I worked at 9bits as a Junior Javascript Developer using React , I was in charge of taking care of the functionality of the website , adding new features and fixing bugs</p>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_time">
                <div class="m_tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">5 months</p></div>
                <div class="m_tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">March/2022 · July/2022</p></div>
              </div>
            </div>

          </div>
                    <div class="m_tenpage_container_base_sides_left_title">
            <h1 class="m_tenpage_container_base_sides_left_title_text">Education</h1>
          </div>
          <div class="m_tenpage_container_base_sides_left_until">
            <p class="m_tenpage_container_base_sides_left_until_text">2017 * until now</p>
          </div>
          <div class="m_tenpage_container_base_sides_left_career">
            <div class="m_tenpage_container_base_sides_left_career_container">
              <div class="m_tenpage_container_base_sides_left_career_container_title">
                <h1 class="m_tenpage_container_base_sides_left_career_container_title_text">Catholic University of Lublin</h1>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_description">
                <p class="m_tenpage_container_base_sides_left_career_container_description_text">I am already in my 2nd year of studying computer science in Lublin</p>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_time">
                <div class="m_tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">2 months</p></div>
                <div class="m_tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>
            <div class="m_tenpage_container_base_sides_left_career_container">
              <div class="m_tenpage_container_base_sides_left_career_container_title">
                <h1 class="m_tenpage_container_base_sides_left_career_container_title_text">Frontend and Mobile courses</h1>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_description">
                <p class="m_tenpage_container_base_sides_left_career_container_description_text">I've done loads of courses in frontend and mobile application programming , graduated all with a certificate</p>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_time">
                <div class="m_tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">2 months</p></div>
                <div class="m_tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>
            <div class="m_tenpage_container_base_sides_left_career_container">
              <div class="m_tenpage_container_base_sides_left_career_container_title">
                <h1 class="m_tenpage_container_base_sides_left_career_container_title_text">IT Technical School</h1>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_description">
                <p class="m_tenpage_container_base_sides_left_career_container_description_text">I graduated from an IT Technical School with a Technical Diploma</p>
              </div>
              <div class="m_tenpage_container_base_sides_left_career_container_time">
                <div class="m_tenpage_container_base_sides_left_career_container_time_months"><p class="tenpage_container_base_sides_left_career_container_time_months_text">2 months</p></div>
                <div class="m_tenpage_container_base_sides_left_career_container_time_date"><p class="tenpage_container_base_sides_left_career_container_time_date_text">February/2022 · until now</p></div>
              </div>
            </div>

          </div>
        </div>

