<div class="fourthpage">
    <div class="fourthpage_container">
        <div class="fourthpage_container_base">
            <div class="fourthpage_container_base_sides">
                <div class="fourthpage_container_base_sides__container">
                    <div
                        class="fourthpage_container_base_sides__container__box"
                    >
                        <span></span>
                        <div
                            class="fourthpage_container_base_sides__container__box__content"
                        >
                            <div
                                class="fourthpage_container_base_sides__container__box__content__left"
                            >
                                <div
                                    class="fourthpage_container_base_sides__container__box__content__left__title"
                                >
                                    <img
                                        class="fourthpage_container_base_sides__container__box__content__left__title__image"
                                        [src]="mslogo"
                                    />
                                    <h2
                                        class="fourthpage_container_base_sides__container__box__content__left__title__text"
                                    >
                                        MySaving
                                    </h2>
                                </div>
                                <!-- <div class="fourthpage_container_base_sides__container__box__content__left__description">

                </div> -->
                                <p
                                    class="fourthpage_container_base_sides__container__box__content__text"
                                >
                                    Ground-breaking application to help users
                                    save money by acting as a subconscious
                                    reminder of money spent and counting money
                                </p>
                                <div
                                    class="fourthpage_container_base_sides_right_technologies"
                                >
                                    <div
                                        class="fourthpage_container_base_sides_right_technologies_container"
                                    >
                                        <div
                                            class="fourthpage_container_base_sides_right_technologies_container_title"
                                        >
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_title_title"
                                            >
                                                Main Language:
                                            </p>
                                        </div>
                                        <div
                                            class="fourthpage_container_base_sides_right_technologies_container_items"
                                        >
                                            <img
                                                class="fourthpage_container_base_sides_right_technologies_container_items_image"
                                                [src]="flutter"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="fourthpage_container_base_sides_right_technologies"
                                >
                                    <div
                                        class="fourthpage_container_base_sides_right_technologies_container"
                                    >
                                        <div
                                            class="fourthpage_container_base_sides_right_technologies_container_items"
                                        >
                                            <div
                                                class="fourthpage_container_base_sides_right_technologies_container_title"
                                            >
                                                <p
                                                    class="fourthpage_container_base_sides_right_technologies_container_title_title"
                                                >
                                                    Constructed With:
                                                </p>
                                            </div>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                BLoC,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Provider,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Stripe,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Firebase,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Freezed,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Material Routes,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                SOLID,
                                            </p>
                                            <p
                                                class="fourthpage_container_base_sides_right_technologies_container_items_title"
                                            >
                                                Dio
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="fourthpage_container_base_sides_right_buttons"
                                >
                                    <a
                                        href="https://play.google.com/store/apps/details?id=com.itlight.mysavingapp&fbclid=IwAR3MYL19_gagCaBQiLmlA1wMJeQh5YCY8xWUWRziiBD_L5MvwVlFXaXvokU"
                                        class="fourthpage_container_base_sides_right_buttons_google"
                                        ><img
                                            class="fourthpage_container_base_sides_right_buttons_google_image"
                                            [src]="googleplay"
                                    /></a>
                                    <!-- <a
                                    
                                        href="https://www.apple.com/pl/app-store/"
                                        class="fourthpage_container_base_sides_right_buttons_apple"
                                        ><img
                                            class="fourthpage_container_base_sides_right_buttons_google_image"
                                            [src]="appstore"
                                    /></a> -->
                                    <a
                                        class="fourthpage_container_base_sides_right_buttons_apple"
                                        href="https://github.com/Maciejj1/mysavingApp"
                                    >
                                        <img [src]="github" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fourthpage_container_base_sides_right">
                    <div class="fourthpage_container_base_sides_right_image">
                        <img
                            class="fourthpage_container_base_sides_right_image_picture"
                            [src]="mysaving"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
