<div class="secondpage">
  <div class="secondpage_container">
    <div class="secondpage_container_base">
      <div class="secondpage_container_base_expirience">
        <div class="secondpage_container_base_expirience_column">
          <div class="secondpage_container_base_expirience_column_container">
            <img class="secondpage_container_base_expirience_column_container_image" [src]="code"/>
            <div class="secondpage_container_base_expirience_column_container_text">
              <p class="secondpage_container_base_expirience_column_container_text_subtitle">1 years of experience</p>
            </div>
            <div class="secondpage_container_base_expirience_column_container_text">
              <h3 class="secondpage_container_base_expirience_column_container_text_title">Programmer</h3>
            </div>
          </div>
          <div class="secondpage_container_base_expirience_column_container_description">
            <p class="secondpage_container_base_expirience_column_container_description_title">Mid Developer</p>
            <h3 class="secondpage_container_base_expirience_column_container_description_language">Flutter</h3>
          </div>
        </div>
        <div class="secondpage_container_base_expirience_column">
          <div class="secondpage_container_base_expirience_column_container">
            <img class="secondpage_container_base_expirience_column_container_image" [src]="code"/>
            <div class="secondpage_container_base_expirience_column_container_text">
              <p class="secondpage_container_base_expirience_column_container_text_subtitle">1 years of experience</p>
            </div>
            <div class="secondpage_container_base_expirience_column_container_text">
              <h3 class="secondpage_container_base_expirience_column_container_text_title">Programmer</h3>
            </div>

          </div>
          <div class="secondpage_container_base_expirience_column_container_description">
            <p class="secondpage_container_base_expirience_column_container_description_title">Early Mid Developer</p>
            <h3 class="secondpage_container_base_expirience_column_container_description_language">Angular</h3>
          </div>
        </div>
        <div class="secondpage_container_base_expirience_column">
          <div class="secondpage_container_base_expirience_column_container">
            <img class="secondpage_container_base_expirience_column_container_image" [src]="code"/>
            <div class="secondpage_container_base_expirience_column_container_text">
              <p class="secondpage_container_base_expirience_column_container_text_subtitle">1 years of experience</p>
            </div>
            <div class="secondpage_container_base_expirience_column_container_text">
              <h3 class="secondpage_container_base_expirience_column_container_text_title">Programmer</h3>
            </div>

          </div>
          <div class="secondpage_container_base_expirience_column_container_description">
            <p class="secondpage_container_base_expirience_column_container_description_title">Creating projects and gaining</p>
            <h3 class="secondpage_container_base_expirience_column_container_description_language">Expirience</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
