<div class="secondpage">
  <div class="secondpage_container">
    <div class="secondpage_container_base">
      <div class="secondpage_container_base__container">
        <div class="secondpage_container_base__container__box">
          <span></span>
          <div class="secondpage_container_base__container__box__content">
            <h2>Mobile Developer</h2>
            <p>As an experienced mobile developer based on Flutter and Ionic, I transform concepts into captivating mobile apps. My experience provides a seamless blend of user-friendly design and powerful functionality with clean code, spurring innovation in every project. Currently, I am also intensively learning Kotlin to expand my programming skills.</p>
          </div>
        </div>
        <div class="secondpage_container_base__container__box">
          <span></span>
          <div class="secondpage_container_base__container__box__content">
            <h2>Frontend Developer</h2>
            <p>I started my adventure as a developer, focusing on developing responsive interfaces using React and Javascript. As my career evolved, I expanded my skillset, moving into Angular and Typescript. The next step was working with PrimeFaces, which further developed my competence and flexibility in the frontend development area.</p>

          </div>
        </div>
        <div class="secondpage_container_base__container__box">
          <span></span>
          <div class="secondpage_container_base__container__box__content">
            <h2>General Experience</h2>
            <p>I am a versatile professional with more than 2 years of experience in mobile application and website development. My skills include Flutter, Angular, Ionic, React, TypeScript, JavaScript and Dart.</p>
            <div class="secondpage_container_base__container__box__content__button1">
  <p >Experience: +2 Years </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
