<div class="secondpage">
    <div class="secondpage_container">
        <div class="secondpage_container_base">
            <div class="secondpage_container_base__container">
                <div class="secondpage_container_base__container__box">
                    <span></span>
                    <div
                        class="secondpage_container_base__container__box__content"
                    >
                        <h2>Mobile Developer</h2>
                        <p>
                            As an experienced mobile developer based on Flutter
                            and Ionic, I transform concepts into captivating
                            mobile apps. My experience provides a seamless blend
                            of user-friendly design and powerful functionality
                            with clean code, spurring innovation in every
                            project. Currently, I am also intensively learning
                            Kotlin to expand my programming skills.
                        </p>
                    </div>
                </div>
                <div class="secondpage_container_base__container__box">
                    <span></span>
                    <div
                        class="secondpage_container_base__container__box__content"
                    >
                        <h2>Frontend Developer</h2>
                        <p>
                            I started out as a developer, specialising in
                            creating responsive interfaces in React and
                            JavaScript, and then progressed, moving on to
                            Angular and Typescript. And today I also use
                            Primefaces in my work.
                        </p>
                    </div>
                </div>
                <div class="secondpage_container_base__container__box">
                    <span></span>
                    <div
                        class="secondpage_container_base__container__box__content"
                    >
                        <h2>General Experience</h2>
                        <p>
                            I am a versatile professional with over 2 years of
                            experience in mobile application and website
                            development. My expertise lies primarily in Flutter
                            and Dart, with additional proficiency in Ionic,
                            Angular, TypeScript.
                        </p>
                        <div
                            class="secondpage_container_base__container__box__content__button1"
                        >
                            <p style="padding: 0px; margin: 0">
                                Experience: +2 Years
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
