<div class="fourthpage">
  <div class="fourthpage_container">
    <div class="fourthpage_container_base">
      <div class="fourthpage_container_base_sides">
        <div class="fourthpage_container_base_sides__container">
          <div class="fourthpage_container_base_sides__container__box">
            <span></span>
            <div
              class="fourthpage_container_base_sides__container__box__content"
            >
              <div
                class="fourthpage_container_base_sides__container__box__content__left"
              >
              <div
              class="fourthpage_container_base_sides__container__box__content__left__title"
            >
              <img
                class="fourthpage_container_base_sides__container__box__content__left__title__image"
                [src]="todologo"
              />
              <h2
                class="fourthpage_container_base_sides__container__box__content__left__title__text"
              >
                ToDo
              </h2>
            </div>
                <p class="fourthpage_container_base_sides__container__box__content__text">
                  Simple To-Do application to manage tasks , add and delete them saving database
                </p>
                <div class="fourthpage_container_base_sides_right_technologies">
                  <div class="fourthpage_container_base_sides_right_technologies_container">
                    <div class="fourthpage_container_base_sides_right_technologies_container_title">
                      <p class="fourthpage_container_base_sides_right_technologies_container_title_title">Constructed with:</p>
</div>
<div class="fourthpage_container_base_sides_right_technologies_container_items">
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="flutter"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="bloc"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="firebase"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="dart"/>
                    <p class="fourthpage_container_base_sides_right_technologies_container_items_text">SOLID</p>
                  </div>
                  </div>
                </div>
                <div class="fourthpage_container_base_sides_right_buttons">
                  <a
                    class="fourthpage_container_base_sides_right_buttons_apple"
                    href="https://github.com/Maciejj1/To-Do-App-Flutter"
                  >
                    <img [src]="github" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fourthpage_container_base_sides_right">
          <div class="fourthpage_container_base_sides_right_image">
            <img
              class="fourthpage_container_base_sides_right_image_picture"
              [src]="meblit"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
