<div class="ninepage">
  <div class="ninepage_container">
    <div class="ninepage_container_base">
      <div class="ninepage_container_base_namepage">
        <p class="ninepage_container_base_namepage_title">🧑‍💻 Skills · Expirience</p>
      </div>
      <div class="ninepage_container_base_title">
        <h1>Technologies and skills</h1>
      </div>
      <div class="ninepage_container_base_frontend">
        <h2>Front-end Stack</h2>
        <div class="ninepage_container_base_frontend_icons">
          <img [src]="html"/>
          <img [src]="css"/>

          <img [src]="angular"/>

          <img [src]="ts"/>

          <img [src]="js"/>

          <img [src]="sass"/>

          <img [src]="prettier"/>

          <img [src]="bootstrap"/>

          <img [src]="figma"/>

          <img [src]="gitlab"/>

          <img [src]="api"/>

          <img [src]="github"/>

          <img [src]="firebase"/>
        </div>
      </div>
      <div class="ninepage_container_base_mobile">
        <h2>Mobile Stack</h2>
        <div class="ninepage_container_base_mobile_icons">
          <img [src]="flutter"/>

          <img [src]="bloc"/>

          <img [src]="rxdart"/>

          <img [src]="api"/>

          <img [src]="dart"/>

          <img [src]="firebase"/>

          <img [src]="idk"/>

          <img [src]="seet"/>

          <img [src]="frozen"/>
        </div>
      </div>
    </div>
  </div>
</div>
