<div class="ninepage">
  <div class="ninepage_container">
    <div class="ninepage_container_base">
      <div class="ninepage_container_base_namepage">
        <img [src]=""/>
        <p>Skills * Expirience</p>
      </div>
      <div class="ninepage_container_base_title">
        <h1>Technologies and skills</h1>
      </div>
      <div class="ninepage_container_base_frontend">
        <h2>Front-end Stack</h2>
        <div class="ninepage_container_base_frontend_icons">
          <img [src]="angular"/>
          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>

          <img [src]="angular"/>
        </div>
      </div>
      <div class="ninepage_container_base_mobile">
        <h2>Mobile Stack</h2>
        <div class="ninepage_container_base_mobile_icons">
          <img [src]="flutter"/>

          <img [src]="flutter"/>

          <img [src]="flutter"/>

          <img [src]="flutter"/>

          <img [src]="flutter"/>

          <img [src]="flutter"/>

          <img [src]="flutter"/>

          <img [src]="flutter"/>

          <img [src]="flutter"/>
        </div>
      </div>
    </div>
  </div>
</div>
