<div class="ninepage">
    <div class="ninepage_container">
        <div class="ninepage_container_base">
            <div class="ninepage_container_base_namepage">
                <p class="ninepage_container_base_namepage_title">🧑‍💻 Skills</p>
            </div>

            <div
                class="knowledge-dialog"
                *ngIf="showKnowledge"
                (click)="closeDialog($event)"
            >
                <div class="knowledge-dialog-content">
                    <div class="close-button-container">
                        <button class="close-button" (click)="closeDialog()">
                            <img [src]="close" alt="Close Icon" />
                        </button>
                    </div>

                    <div class="image-container">
                        <img
                            [src]="selectedLanguage?.image"
                            class="language-image"
                        />
                        <p
                            [style.color]="selectedLanguage?.color"
                            class="language-title"
                        >
                            {{ selectedLanguage?.name }}
                        </p>
                    </div>

                    <div class="knowledge-container">
                        <p class="knowledge-heading">What I know</p>
                        <ul class="knowledge-list">
                            <li
                                *ngFor="
                                    let knowledge of selectedLanguage?.knowledge
                                "
                            >
                                {{ knowledge }}
                            </li>
                        </ul>
                    </div>

                    <div class="dev-tools-container">
                        <p class="dev-tools-heading">Dev Tools:</p>
                        <ul class="dev-tools-list">
                            <li
                                *ngFor="
                                    let devTool of selectedLanguage?.devTools
                                "
                            >
                                {{ devTool }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="ninepage_container_base_mobile">
                <h3 class="ninepage_container_base_mobile_text">
                    Languages I Speak
                </h3>
                <div class="ninepage_container_base_mobile_container">
                    <div
                        *ngFor="let language of languages"
                        class="ninepage_container_base_mobile_icons_container"
                    >
                        <img
                            [src]="language.image"
                            class="ninepage_container_base_mobile_icons_container_img"
                        />
                        <p
                            class="ninepage_container_base_mobile_icons_container_title"
                        >
                            {{ language.name }}
                        </p>
                        <button
                            class="show-knowledge-button"
                            (click)="toggleKnowledge(language)"
                        >
                            Show Knowledge
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
