<div class="thirdpage">
  <div class="thirdpage_container">
    <div class="thirdpage_container_base">
    <div class="thirdpage_container_base_leftside">
      <div class="thirdpage_container_base_leftside_profile">
        <img class="thirdpage_container_base_leftside_profile_image"[src]="profile"/>
      </div>
    </div>
      <div class="thirdpage_container_base_rightside">
        <div class="thirdpage_container_base_rightside_about">
          <img class="thirdpage_container_base_rightside_about_image"[src]=""/>
          <p class="thirdpage_container_base_rightside_about_text">About me</p>
        </div>
        <div class="thirdpage_container_base_rightside_name">
          <p class="thirdpage_container_base_rightside_name_text">Maciej Wawryszuk</p>
        </div>
        <div class="thirdpage_container_base_rightside_list">
          <div class="thirdpage_container_base_rightside_list_opinion">
            <img class="thirdpage_container_base_rightside_list_opinion_image"[src]=""/>
            <p class="thirdpage_container_base_rightside_list_opinion_text">My name is Maciej and I am a 21-year-old programmer</p>
          </div>
          <div class="thirdpage_container_base_rightside_list_opinion">
            <img class="thirdpage_container_base_rightside_list_opinion_image"[src]=""/>
            <p class="thirdpage_container_base_rightside_list_opinion_text"> For more than 2 years I have been programming and developing as a Frontend Developer as well as a Mobile   Application Developer</p>
          </div>
          <div class="thirdpage_container_base_rightside_list_opinion">
            <img class="thirdpage_container_base_rightside_list_opinion_image"[src]=""/>
            <p class="thirdpage_container_base_rightside_list_opinion_text">I graduated from the Technical School of Information Technology in Małaszewicze with the title of Technician    and I am currently studying Computer Sience at the Catholic University of Lublin.</p>
          </div>
          <div class="thirdpage_container_base_rightside_list_opinion">
            <img class="thirdpage_container_base_rightside_list_opinion_image"[src]=""/>
            <p class="thirdpage_container_base_rightside_list_opinion_text">My interest is to develop in doing Mobile Apps using Flutter as well as Frontend using Angular and Typescript</p>
          </div>
          <div class="thirdpage_container_base_rightside_list_opinion">
            <img class="thirdpage_container_base_rightside_list_opinion_image"[src]=""/>
            <p class="thirdpage_container_base_rightside_list_opinion_text">With each new day I try to be better than the previous one</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
