.firstpage{
  &_container{
    display: flex;
    align-items: center;
    background: #19191f;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    &_base{
      display: flex;
      justify-content: center;
      align-items: center;

      &_leftside{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        &_title{
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          margin-left: 10px;
          color: #ffffff;
          justify-content: center;
          align-items: center;
          display: flex;
          margin-top: 5px;
        }
        &_me{
          &_name{
            &_surname{

            }
          }
        }
        &_description{
          width: 30%;
          &_text{

          }
        }
        &_links{

        }

      }
      &_rightside{
        &_image{
        }
      }
    }
  }
}
