<div class="firstpage">

  <div class="firstpage_container">
    <div class="firstpage_container_base">

      <div class="firstpage_container_base_leftside">
        <div class="firstpage_container_base_leftside_title">
          <h2 class="firstpage_container_base_leftside_title_text">
            <span class="firstpage_container_base_leftside_title_text_line">
            </span>MY NAME IS<span class="firstpage_container_base_leftside_title_text_line">
          </span>
          </h2>
        </div>
        <div class="firstpage_container_base_leftside_me">
          <h1 class="firstpage_container_base_leftside_me_name">
            Maciej
            <span class="firstpage_container_base_leftside_me_name_surname">
              Wawryszuk
            </span>
          </h1>
        </div>
        <div class="firstpage_container_base_leftside_description">
          <p class="firstpage_container_base_leftside_description_text">Innovative Front-end and Mobile developer with more than 3 years of experience in creating exciting projects. 🚀</p>
        </div>
        <div class="firstpage_container_base_leftside_links">
          <!-- <a class="firstpage_container_base_leftside_links_link" href="#">
            <img [src]="instagram"/>
          </a> -->
          <a class="firstpage_container_base_leftside_links_link" href="https://github.com/Maciejj1">
            <img [src]="github"/>
          </a>
          <!-- <a class="firstpage_container_base_leftside_links_link" href="#">
            <img [src]="twitter"/>
          </a> -->
          <a class="firstpage_container_base_leftside_links_link" href="https://www.linkedin.com/in/maciek-wawryszuk-484737225/">
            <img [src]="linkedin"/>
          </a>
        </div>
      </div>
      <div class="firstpage_container_base_rightside">
        <div class="firstpage_container_base_rightside_image">
          <img class="firstpage_container_base_rightside_image_picture" [src]="my_profile"/>
          <div class="firstpage_container_base_rightside_image_background"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m_firstpage">
  <div class="m_firstpage_container">
    <div class="m_firstpage_container_base">
<div class="m_firstpage_container_base_leftside">
  <div class="m_firstpage_container_base_leftside">
    <div class="m_firstpage_container_base_leftside_image">
      <img class="m_firstpage_container_base_leftside_image_picture" [src]="my_profile"/>
      <div class="m_firstpage_container_base_leftside_image_background"></div>
    </div>
  </div>
  <div class="m_firstpage_container_base_leftside_title">
    <h2 class="m_firstpage_container_base_leftside_title_text">
      <span class="m_firstpage_container_base_leftside_title_text_line">
      </span>MY NAME IS<span class="m_firstpage_container_base_leftside_title_text_line">
    </span>
    </h2>
  </div>
  <div class="m_firstpage_container_base_leftside_me">
    <h1 class="m_firstpage_container_base_leftside_me_name">
      Maciej
      <span class="m_firstpage_container_base_leftside_me_name_surname">
        Wawryszuk
      </span>
    </h1>
  </div>
  <div class="m_firstpage_container_base_leftside_description">
    <p class="m_firstpage_container_base_leftside_description_text">Innovative Front-end and Mobile developer with more than 3 years of experience in creating exciting projects. 🚀</p>
  </div>
  <div class="m_firstpage_container_base_leftside_links">
    <a class="m_firstpage_container_base_leftside_links_link" href="https://github.com/Maciejj1">
      <img [src]="github"/>
    </a>
    <a class="m_firstpage_container_base_leftside_links_link" href="https://www.linkedin.com/in/maciek-wawryszuk-484737225/">
      <img [src]="linkedin"/>
    </a>
  </div>
  <div class="slider-thumb"></div>
</div>
</div>

</div>
</div>
