<div class="thirdpage">
    <div class="thirdpage_container">
        <div class="thirdpage_container_base">
            <div class="thirdpage_container_base_leftside">
                <div class="thirdpage_container_base_leftside_profile">
                    <img
                        class="thirdpage_container_base_leftside_profile_image"
                        [src]="profile"
                    />
                    <div
                        class="thirdpage_container_base_leftside_profile_background"
                    ></div>
                </div>
            </div>
            <div class="thirdpage_container_base_rightside">
                <div class="thirdpage_container_base_rightside_about">
                    <img
                        class="thirdpage_container_base_rightside_about_image"
                        [src]=""
                    />
                    <div class="thirdpage_container_base_rightside_about_text">
                        <p
                            class="thirdpage_container_base_rightside_about_text_text"
                        >
                            🧐About me
                        </p>
                    </div>
                </div>
                <div class="thirdpage_container_base_rightside_name">
                    <p class="thirdpage_container_base_rightside_name_text">
                        Maciej Wawryszuk
                    </p>
                </div>
                <div class="thirdpage_container_base_rightside_list">
                    <div
                        class="thirdpage_container_base_rightside_list_opinion"
                    >
                        <img
                            class="thirdpage_container_base_rightside_list_opinion_image"
                            [src]=""
                        />
                        <p
                            class="thirdpage_container_base_rightside_list_opinion_text"
                        >
                            👋 I am a 22-year-old programmer
                        </p>
                    </div>
                    <div
                        class="thirdpage_container_base_rightside_list_opinion"
                    >
                        <img
                            class="thirdpage_container_base_rightside_list_opinion_image"
                            [src]=""
                        />
                        <p
                            class="thirdpage_container_base_rightside_list_opinion_text"
                        >
                            👨‍💻 I have been programming and developing for over
                            2.5 years as a Frontend Developer and Mobile
                            Application Developer
                        </p>
                    </div>
                    <div
                        class="thirdpage_container_base_rightside_list_opinion"
                    >
                        <img
                            class="thirdpage_container_base_rightside_list_opinion_image"
                            [src]=""
                        />
                        <p
                            class="thirdpage_container_base_rightside_list_opinion_text"
                        >
                            🎓 I graduated from the Information Technology
                            Technical School in Małaszewicze, obtaining the
                            title of IT technician. I am currently preparing to
                            defend my bachelor's thesis in computer science at
                            the Catholic University of Lublin, where I am
                            currently in my third year.
                        </p>
                    </div>
                    <div
                        class="thirdpage_container_base_rightside_list_opinion"
                    >
                        <img
                            class="thirdpage_container_base_rightside_list_opinion_image"
                            [src]=""
                        />
                        <p
                            class="thirdpage_container_base_rightside_list_opinion_text"
                        >
                            💡 My passion is developing mobile applications,
                            which is not only an occupation for me, but also a
                            source of continuous development and satisfaction.
                        </p>
                    </div>
                    <div
                        class="thirdpage_container_base_rightside_list_opinion"
                    >
                        <img
                            class="thirdpage_container_base_rightside_list_opinion_image"
                            [src]=""
                        />
                        <p
                            class="thirdpage_container_base_rightside_list_opinion_text"
                        >
                            🚀 Every day I strive to be better than yesterday,
                            because in continuous improvement lies the key to
                            achieving my goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
