<div class="fourthpage">
  <div class="fourthpage_container">
    <div class="fourthpage_container_base">
      <div class="fourthpage_container_base_sides">
        <div class="fourthpage_container_base_sides__container">
          <div class="fourthpage_container_base_sides__container__box">
            <span></span>
            <div
              class="fourthpage_container_base_sides__container__box__content"
            >
              <div
                class="fourthpage_container_base_sides__container__box__content__left"
              >
                <div
                  class="fourthpage_container_base_sides__container__box__content__left__title"
                >
                  <!-- <img
                    class="fourthpage_container_base_sides__container__box__content__left__title__image"
                    [src]="mslogo"
                  /> -->
                  <h2
                    class="fourthpage_container_base_sides__container__box__content__left__text"
                  >
                  WeatherApp
                  </h2>
                </div>

                <p class="fourthpage_container_base_sides__container__box__content__text">
                  A simple site that gives the weather for the city                </p>
                <div class="fourthpage_container_base_sides_right_technologies">
                  <div class="fourthpage_container_base_sides_right_technologies_container">
                    <div class="fourthpage_container_base_sides_right_technologies_container_title">
                      <p class="fourthpage_container_base_sides_right_technologies_container_title_title">Constructed with:</p>
</div>
<div class="fourthpage_container_base_sides_right_technologies_container_items">
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="angular"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="typescript"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="sass"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="html"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="css"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="api"/>
                    <img class="fourthpage_container_base_sides_right_technologies_container_items_image" [src]="prettier"/>
</div>
                  </div>
                </div>
                <div class="fourthpage_container_base_sides_right_buttons">
                    <!-- <a href="https://maciejj1.github.io/LookAtThatDog/" class="fifthpage_container_base_sides_rightside_button">
                      <p class="fifthpage_container_base_sides_rightside_button_text">Go to side</p>
                    </a> -->
                  <a
                    class="fourthpage_container_base_sides_right_buttons_apple"
                    href="https://github.com/Maciejj1/WeatherApp-React"
                  >
                    <img [src]="github" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fourthpage_container_base_sides_right">
          <div class="fourthpage_container_base_sides_right_website">
            <img
              class="fourthpage_container_base_sides_right_website_picture"
              [src]="lookdog"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
