<!-- <div class="navbar">
  <div class="navbar_container">
    <div class="navbar_container_logo">
      <img class="navbar_container_logo_image" [src]="logo"/>
    </div>
    <div class="navbar_container_links">
      <a class="navbar_container_links_link" (click)="scrollToElement('first-page')">Home</a>
      <a class="navbar_container_links_link" (click)="scrollToElement('third-page')">About</a>
      <a class="navbar_container_links_link" (click)="scrollToElement('projects-section')">Projects</a>
      <a class="navbar_container_links_link" (click)="scrollToElement('nine-page')">Skills</a>
      <a class="navbar_container_links_link" (click)="scrollToElement('ten-page')">Experience</a>
    </div>
  </div>
</div> -->
