<div class="fifthpage">
  <div class="fifthpage_container">
    <div class="fifthpage_container_base">

      <div class="fifthpage_container_base_leftside">
        <div class="fifthpage_container_base_rightside_about">
          <img class="fifthpage_container_base_rightside_about_image" [src]=""/>
          <p class="fifthpage_container_base_rightside_about_text">Flutter App</p>
        </div>
        <div class="fifthpage_container_base_rightside_name">
          <p class="fifthpage_container_base_rightside_name_text">MySaving</p>
        </div>
        <div class="fifthpage_container_base_rightside_list">
          <div class="fifthpage_container_base_rightside_list_opinion">
            <img class="fifthpage_container_base_rightside_list_opinion_image" [src]=""/>
            <p class="fifthpage_container_base_rightside_list_opinion_text">Ground-breaking application to help users
              save money by acting as a subconscious reminder of money spent and counting money</p>
          </div>
        </div>

      </div>
      <div class="fifthpage_container_base_rightside">
        <div class="fifthpage_container_base_rightside_image">
          <img [src]="medilix"/>

        </div>
      </div>
    </div>
  </div>
</div>
