<div class="projects_section">
    <div class="projects_section_container">
        <div class="projects_section_container_namepage">
            <p class="projects_section_container_namepage_title">🧑‍💻 Projects</p>
          </div>
        <div class="projects_section_container_base">

            <a routerLink="/flutterprojects" class="projects_section_container_base_left">
                <a class="projects_section_container_base_left_button">
<div class="projects_section_container_base_left_button_content">
    <div class="projects_section_container_base_left_button_content_title">
        <p class="projects_section_container_base_left_button_content_title_text">Flutter Projects</p>
    </div>
    <div class="projects_section_container_base_left_button_content_photo">
        <img class="projects_section_container_base_left_button_content_photo_image" [src]="flutter"/>
    </div>
</div>
                </a>
            </a>
            <a routerLink="/angularprojects" class="projects_section_container_base_right">
                <a class="projects_section_container_base_right_button">
<div class="projects_section_container_base_right_button_content">
    <div class="projects_section_container_base_right_button_content_title">
        <p class="projects_section_container_base_right_button_content_title_text">Angular Projects</p>
    </div>
    <div class="projects_section_container_base_right_button_content_photo">
        <img class="projects_section_container_base_right_button_content_photo_image" [src]="angular"/>
    </div>
</div>
                </a>
            </a>
            <a routerLink="/reactprojects" class="projects_section_container_base_left">
              <a class="projects_section_container_base_left_button">
<div class="projects_section_container_base_left_button_content">
  <div class="projects_section_container_base_left_button_content_title">
      <p class="projects_section_container_base_left_button_content_title_text">React Projects</p>
  </div>
  <div class="projects_section_container_base_left_button_content_photo">
      <img class="projects_section_container_base_left_button_content_photo_image" [src]="react"/>
  </div>
</div>
              </a>
          </a>
        </div>
    </div>
</div>
