<div class="elevenpage">
  <div class="elevenpage_container">
    <div class="elevenpage_container_base">
      <div class="elevenpage_container_base_namepage">
        <p class="elevenpage_container_base_namepage_title">📬 Connectivity</p>
      </div>
      <div class="elevenpage_container_base_title">
        <h1 class="elevenpage_container_base_title_text">Let's talk!</h1>
      </div>
      <div class="elevenpage_container_base_chose">

        <div class="elevenpage_container_base_chose_phone">
          <div class="elevenpage_container_base_chose_phone_container">
            <img class="elevenpage_container_base_chose_phone_container_image" [src]="call"/>
            <p class="elevenpage_container_base_chose_phone_container_text" (mouseover)="onMouseOver()">Lets talk!</p>
          </div>
        </div>
        <div class="elevenpage_container_base_chose_mail">
          <button class="elevenpage_container_base_chose_mail_button" style="background-color: rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    height: 50px;
    display: flex;
    width: 50px;
    align-content: center;
    justify-content: center;
    align-items: center;" (click)="openEmail()">
          <img [src]="plane"/>
          </button>
          <p class="elevenpage_container_base_chose_mail_title">Email:</p>
          <p class="elevenpage_container_base_chose_mail_text">maciek.w200111@gmail.com</p>

        </div>
      </div>

    </div>
  </div>
</div>
