<div class="elevenpage">
  <div class="elevenpage_container">
    <div class="elevenpage_container_base">
      <div class="elevenpage_container_base_namepage">
        <p class="elevenpage_container_base_namepage_title">📬 Connectivity</p>
      </div>
      <div class="elevenpage_container_base_title">
        <h1 class="elevenpage_container_base_title_text">Let's talk!</h1>
      </div>
      <div class="elevenpage_container_base_chose">

        <div class="elevenpage_container_base_chose_phone">
          <div class="elevenpage_container_base_chose_phone_container">
            <img class="elevenpage_container_base_chose_phone_container_image" [src]="call"/>
            <p class="elevenpage_container_base_chose_phone_container_text" (mouseover)="onMouseOver()">Lets talk!</p>
          </div>
        </div>
        <div class="elevenpage_container_base_chose_mail">
          <img class="elevenpage_container_base_chose_mail_image" [src]="plane"/>
          <p class="elevenpage_container_base_chose_mail_title">Email:</p>
          <p class="elevenpage_container_base_chose_mail_text">maciek.w200111@gmail.com</p>
          <button class="elevenpage_container_base_chose_mail_button"><img [src]="copy"/> </button>
        </div>
      </div>

    </div>
  </div>
</div>
