
@media only screen and (min-width: 1024px) {.fifthpage{
  width: 100%;
  height: 100%;
  &_container{
    display: flex;
    align-items: center;
    background: #19191f;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    &_base{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &_title {
        &_text {
          font-size: 32px;
          color: #F1F1F1;
          margin: 0;
        }

        &_flutter {
          margin-left: 10px;
          color: #D53032;
        }
      }

      &_sides {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &_title {
          &_text {
            font-size: 32px;
            color: #F1F1F1;
            margin: 0;
          }

          &_flutter {
            margin-left: 10px;
            color: #D53032;
          }
        }


        &_leftside {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;

          &_image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            &_picture {
              z-index: 2;
              position: relative;
              top: 10px;
              z-index: 2;
              left: 20px;
              width: 100%;
              max-width: 800px;
              min-width: 400px;
            }
            &_background{
              z-index: 0;
              position: absolute;
              top: -233px;
              width: 100%;
              height: 90vh;
              min-width: 82vw;
              left: -1280px;
            }
          }

        }

        &_rightside {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 40%;
          height: 50vh;
          flex-direction: column;
          &_link{
            z-index: 10000;
            margin-top: 20px;
            img{
              width: 40px;
              z-index: 10000;
            }
          }
          &_button{
            z-index: 1;
            background: rgba(213, 48, 50, 0.1);
            width: 120px;
            height: 35px;
            border-radius: 15px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        cursor: pointer; text-decoration: none;
    text-decoration: none;
            &_text {
              z-index: 2;
              color: #D53032;
              margin: 0;
            
            }
          }
          &_button:hover{
            opacity: 0.8;
      
            &_text {
              z-index: 2;
              color: #D53032;
              margin: 0;
             
            }
          }
          &
          &_about {
            &_image {

            }

            &_text {
              margin: 0;
              color: #656D72;
              font-size: 20px;
              font-weight: 700;
            }
          }

          &_name {
            font-weight: 700;
            margin-top: 10px;

            &_text {

              font-size: 38px;
              color: #F1F1F1;
              margin: 0;
            }

            &_gradient {
              color: #D53032;
            }
          }

          &_list {
            &_opinion {
              display: flex;

              &_image {

              }

              &_text {
                opacity: 0.7;
                color: #F1F1F1;
                width: 80%;
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}}
@media only screen and (max-width: 1023px) {
  .fifthpage{
    width: 100%;
    height: 100%;
    &_container{
      padding-top: 20%;
      padding-bottom: 20%;
      display: flex;
      align-items: center;
      background: #19191f;
      height: auto;
      justify-content: center;
      flex-direction: column;
      &_base{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &_title {
          &_text {
            font-size: 32px;
            color: #F1F1F1;
            margin: 0;
          }
  
          &_flutter {
            margin-left: 10px;
            color: #D53032;
          }
        }
  
        &_sides {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
  
          &_title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            &_text {
              font-size: 32px;
              color: #F1F1F1;
              margin: 0;
            }
  
            &_flutter {
              margin-left: 10px;
              color: #D53032;
            }
          }
  
  
          &_leftside {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 70%;
  
            &_image {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
  
              &_picture {
              
              padding-top: 10%;
                
                z-index: 2;
               
      width: 350px;
             
              }
              &_background{
  display: none;
              }
            }
  
          }
  
          &_rightside {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            &_link{
              margin-top: 20px;
              img{
                width: 30px;
              }
            }
            &_button{

              background: rgba(213, 48, 50, 0.1);
              width: 120px;
              height: 35px;
              z-index: 1;
              border-radius: 15px;
              margin-top: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer; text-decoration: none;
      text-decoration: none;
              &_text {
                z-index: 2;
                font-size: 14px!important;
                color: #D53032;
                margin: 0;
              
              }
            }
            &_button:hover{
              opacity: 0.8;
              &_text {
                font-size: 14px;
                z-index: 2;
                color: #D53032;
                margin: 0;
               
              }
            }
            &_about {
              font-size: 20px!important;
              &_image {
  
              }
  
              &_text {
                margin: 0;
                color: #656D72;
                font-size: 20px;
                font-weight: 700;
              }
            }
  
            &_name {
              font-weight: 700;
              margin-top: 10px;
  
              &_text {
  
                font-size: 22px;
                color: #F1F1F1;
                margin: 0;
              }
  
              &_gradient {
                color: #D53032;
              }
            }
  
            &_list {
              &_opinion {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                &_image {
  
                }
  
                &_text {
                  opacity: 0.7;
                  color: #F1F1F1;
                  width: 80%;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}