<div class="fifthpage">
  <div class="fifthpage_container">
    <div class="fifthpage_container_base">
      <div class="fifthpage_container_base_sides">
        <div class="fifthpage_container_base_sides_rightside">


          <div class="fifthpage_container_base_sides_rightside_about">
            <img class="fifthpage_container_base_sides_rightside_about_image" [src]=""/>
            <p class="fifthpage_container_base_sides_rightside_about_text">Flutter App</p>
          </div>
          <div class="fifthpage_container_base_sides_rightside_name">
            <p class="fifthpage_container_base_sides_rightside_name_text">My<span class="fifthpage_container_base_sides_rightside_name_gradient">Saving</span></p>
          </div>
          <div class="fifthpage_container_base_sides_rightside_list">
            <div class="fifthpage_container_base_sides_rightside_list_opinion">
              <img class="fifthpage_container_base_sides_rightside_list_opinion_image" [src]=""/>
              <p class="fifthpage_container_base_sides_rightside_list_opinion_text">Ground-breaking application to help users
                save money by acting as a subconscious reminder of money spent and counting money</p>
            </div>
          </div>
          <a href="https://maciejj1.github.io/Brightmoon-Admin-Panel/login" class="fifthpage_container_base_sides_rightside_button">
            <p class="fifthpage_container_base_sides_rightside_button_text">Go to side</p>
          </a>
        </div>
        <div class="fifthpage_container_base_sides_leftside">
          <div class="fifthpage_container_base_sides_leftside_image">
            <img class="fifthpage_container_base_sides_leftside_image_background"[src]="background"/>
            <img class="fifthpage_container_base_sides_leftside_image_picture" [src]="darkmoon"/>

          </div>
        </div></div>
    </div>
  </div>
</div>
