<div class="fifthpage">
  <div class="fifthpage_container">
    <div class="fifthpage_container_base">
      <div class="fifthpage_container_base_title">
        <h2 class="fifthpage_container_base_title_text">My Projects in<span class="fifthpage_container_base_title_flutter">Angular</span> </h2>
      </div>
      <div class="fifthpage_container_base_sides">
        <div class="fifthpage_container_base_sides_rightside">


          <div class="fifthpage_container_base_sides_rightside_about">
            <img class="fifthpage_container_base_sides_rightside_about_image" [src]=""/>
            <p class="fifthpage_container_base_sides_rightside_about_text">Web App</p>
          </div>
          <div class="fifthpage_container_base_sides_rightside_name">
            <p class="fifthpage_container_base_sides_rightside_name_text">LookAtThe<span class="fifthpage_container_base_sides_rightside_name_gradient">Dog</span></p>
          </div>
          <div class="fifthpage_container_base_sides_rightside_list">
            <div class="fifthpage_container_base_sides_rightside_list_opinion">
              <img class="fifthpage_container_base_sides_rightside_list_opinion_image" [src]=""/>
              <p class="fifthpage_container_base_sides_rightside_list_opinion_text">Website in Angular running with REST API showing cute doggies and their data on wikipedia</p>
            </div>
          </div>
          <a href="https://maciejj1.github.io/LookAtThatDog/" class="fifthpage_container_base_sides_rightside_button">
            <p class="fifthpage_container_base_sides_rightside_button_text">Go to side</p>
          </a>
          <a class="fifthpage_container_base_sides_rightside_link" href="https://github.com/Maciejj1/LookAtThatDog">
            <img [src]="github"/>
          </a>
        </div>
        <div class="fifthpage_container_base_sides_leftside">
          <div class="fifthpage_container_base_sides_leftside_image">
            <img class="fifthpage_container_base_sides_leftside_image_background"[src]="background"/>
            <img class="fifthpage_container_base_sides_leftside_image_picture" [src]="lookdog"/>

          </div>
        </div></div>
    </div>
  </div>
</div>
