<div class="fourthpage">
  <div class="fourthpage_container">
    <div class="fourthpage_container_title">
      <h2 class="fourthpage_container_title_text">My Projects in Flutter</h2>
    </div>
    <div class="fourthpage_container_base">

      <div class="fourthpage_container_base_leftside">
        <div class="fourthpage_container_base_leftside_image">
          <img [src]="mysaving"/>

        </div>
      </div>
      <div class="fourthpage_container_base_rightside">
        <div class="fourthpage_container_base_rightside_about">
          <img class="fourthpage_container_base_rightside_about_image" [src]=""/>
          <p class="fourthpage_container_base_rightside_about_text">Flutter App</p>
        </div>
        <div class="fourthpage_container_base_rightside_name">
          <p class="fourthpage_container_base_rightside_name_text">MySaving</p>
        </div>
        <div class="fourthpage_container_base_rightside_list">
          <div class="fourthpage_container_base_rightside_list_opinion">
            <img class="fourthpage_container_base_rightside_list_opinion_image" [src]=""/>
            <p class="fourthpage_container_base_rightside_list_opinion_text">Ground-breaking application to help users
              save money by acting as a subconscious reminder of money spent and counting money</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
